# DataFrame

### creating data frame

creating from list

In [4]:
import pandas as pd
list = ['a','b','c']
print(list)
df1 = pd.DataFrame(list)
print(df1)

['a', 'b', 'c']
   0
0  a
1  b
2  c

In [ ]:
df1 # it is same as print(df1) but it shows like arrange manner

   0
0  a
1  b
2  c

- using list_of_list

In [5]:
ls_of_ls = [[1,2,3],[4,5,6],[7,8,9]]
print(ls_of_ls)
df2 = pd.DataFrame(ls_of_ls)
df2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

creating dataframe using dictionary

In [6]:
dict = {'ID':[1,2,3,4]}
print(dict)

{'ID': [1, 2, 3, 4]}

In [7]:
import pandas as pd 
dict_DataFrame = pd.DataFrame(dict)
dict_DataFrame

   ID
0   1
1   2
2   3
3   4

creating using list of dictioanry